In [2]:
import io
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, KFold, cross_val_predict, train_test_split
import pylab
import seaborn as sns
sns.set(style="ticks", color_codes=True, font_scale=1.5)
from matplotlib import pyplot as plt
from IPython.display import Image
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.models import Sequential
from keras.layers import Dense, Activation
from sklearn.metrics import auc, accuracy_score

In [3]:
data_path = './bank-additional.csv'

df = pd.read_csv(data_path,sep=';').dropna()
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [4]:
categorical_feature_mask = df.dtypes==object
categorical_cols = df.columns[categorical_feature_mask].tolist()
print(df[categorical_cols])

              job  marital          education default  housing     loan  \
0     blue-collar  married           basic.9y      no      yes       no
1        services   single        high.school      no       no       no
2        services  married        high.school      no      yes       no
3        services  married           basic.9y      no  unknown  unknown
4          admin.  married  university.degree      no      yes       no
...           ...      ...                ...     ...      ...      ...
4114       admin.  married           basic.6y      no      yes      yes
4115       admin.  married        high.school      no      yes       no
4116      student   single        high.school      no       no       no
4117       admin.  married        high.school      no       no       no
4118   management   single        high.school      no      yes       no

        contact month day_of_week     poutcome   y
0      cellular   may         fri  nonexistent  no
1     telephone   may         fri  nonexistent  no
2     telephone   jun         wed  nonexistent  no
3     telephone   jun         fri  nonexistent  no
4      cellular   nov         mon  nonexistent  no
...         ...   ...         ...          ...  ..
4114   cellular   jul         thu  nonexistent  no
4115  telephone   jul         fri  nonexistent  no
4116   cellular   may         mon      failure  no
4117   cellular   aug         fri  nonexistent  no
4118   cellular   nov         wed  nonexistent  no

[4119 rows x 11 columns]

In [5]:
le = LabelEncoder()
df[categorical_cols] = df[categorical_cols].apply(le.fit_transform)
# df[categorical_cols] = df[categorical_cols].dropna(inplace=True)
df_new = df[categorical_cols].dropna()
df_new.head(10)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,1,1,2,0,2,0,0,6,0,1,0
1,7,2,3,0,0,0,1,6,0,1,0
2,7,1,3,0,2,0,1,4,4,1,0
3,7,1,2,0,1,1,1,4,0,1,0
4,0,1,6,0,2,0,0,7,1,1,0
5,7,2,6,0,0,0,0,9,2,0,0
6,0,2,6,0,2,0,0,9,1,1,0
7,2,1,6,1,2,0,0,7,1,1,0
8,7,0,5,0,0,0,0,7,3,0,0
9,1,1,2,1,0,0,1,6,2,1,0

In [6]:
Y = df['y']
X = df.drop('y', axis=1)
scalers = StandardScaler()
X = scalers.fit_transform(X)

In [7]:
X

array([[-0.98075178, -0.7834306 , -0.29192536, ..., -1.240939  ,
        -1.33170721, -0.91477933],
       [-0.10799146,  0.88051782,  1.357513  , ...,  0.89226907,
         0.71169841,  0.3328625 ],
       [-1.46561862,  0.88051782, -0.29192536, ..., -0.28317211,
         0.77342749,  0.83653509],
       ...,
       [-1.27167189,  1.15784256,  1.357513  , ..., -1.240939  ,
        -1.30805401, -0.91477933],
       [ 1.73450254, -1.06075533, -0.29192536, ...,  0.95757136,
         0.77573511,  0.83653509],
       [-0.59285831,  0.04854361,  1.357513  , ..., -0.32670697,
         0.28767155,  0.39802768]])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                                    train_size=0.8,
                                                    test_size = 0.2, random_state=500)

In [9]:
model = Sequential()
model.add(Dense(40, input_shape=(20,)))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('sigmoid'))

In [10]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [11]:
history = model.fit(X_train, y_train,batch_size=50,epochs=50,validation_split=0.2, shuffle=True,verbose=1)
y_pred = model.predict(X_test)

Epoch 1/50
53/53 [==============================] - 0s 6ms/step - loss: 0.7321 - accuracy: 0.5046 - val_loss: 0.5106 - val_accuracy: 0.8225
Epoch 2/50
53/53 [==============================] - 0s 1ms/step - loss: 0.4096 - accuracy: 0.8832 - val_loss: 0.3128 - val_accuracy: 0.9302
Epoch 3/50
53/53 [==============================] - 0s 1ms/step - loss: 0.2991 - accuracy: 0.9048 - val_loss: 0.2394 - val_accuracy: 0.9302
Epoch 4/50
53/53 [==============================] - 0s 1ms/step - loss: 0.2550 - accuracy: 0.9055 - val_loss: 0.2075 - val_accuracy: 0.9317
Epoch 5/50
53/53 [==============================] - 0s 2ms/step - loss: 0.2347 - accuracy: 0.9040 - val_loss: 0.1907 - val_accuracy: 0.9378
Epoch 6/50
53/53 [==============================] - 0s 2ms/step - loss: 0.2226 - accuracy: 0.9040 - val_loss: 0.1829 - val_accuracy: 0.9363
Epoch 7/50
53/53 [==============================] - 0s 2ms/step - loss: 0.2143 - accuracy: 0.9055 - val_loss: 0.1784 - val_accuracy: 0.9347
Epoch 8/50
53/53 [==============================] - 0s 2ms/step - loss: 0.2088 - accuracy: 0.9071 - val_loss: 0.1756 - val_accuracy: 0.9302
Epoch 9/50
53/53 [==============================] - 0s 1ms/step - loss: 0.2043 - accuracy: 0.9071 - val_loss: 0.1730 - val_accuracy: 0.9317
Epoch 10/50
53/53 [==============================] - 0s 2ms/step - loss: 0.2009 - accuracy: 0.9097 - val_loss: 0.1724 - val_accuracy: 0.9317
Epoch 11/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1982 - accuracy: 0.9101 - val_loss: 0.1711 - val_accuracy: 0.9302
Epoch 12/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1955 - accuracy: 0.9108 - val_loss: 0.1701 - val_accuracy: 0.9317
Epoch 13/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1933 - accuracy: 0.9120 - val_loss: 0.1705 - val_accuracy: 0.9302
Epoch 14/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1915 - accuracy: 0.9127 - val_loss: 0.1703 - val_accuracy: 0.9302
Epoch 15/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1900 - accuracy: 0.9131 - val_loss: 0.1691 - val_accuracy: 0.9317
Epoch 16/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1880 - accuracy: 0.9135 - val_loss: 0.1699 - val_accuracy: 0.9272
Epoch 17/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1868 - accuracy: 0.9154 - val_loss: 0.1716 - val_accuracy: 0.9241
Epoch 18/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1852 - accuracy: 0.9146 - val_loss: 0.1682 - val_accuracy: 0.9256
Epoch 19/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1840 - accuracy: 0.9146 - val_loss: 0.1687 - val_accuracy: 0.9256
Epoch 20/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9165 - val_loss: 0.1690 - val_accuracy: 0.9241
Epoch 21/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1814 - accuracy: 0.9177 - val_loss: 0.1696 - val_accuracy: 0.9226
Epoch 22/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1800 - accuracy: 0.9196 - val_loss: 0.1685 - val_accuracy: 0.9241
Epoch 23/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1791 - accuracy: 0.9165 - val_loss: 0.1705 - val_accuracy: 0.9241
Epoch 24/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1782 - accuracy: 0.9165 - val_loss: 0.1697 - val_accuracy: 0.9241
Epoch 25/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1768 - accuracy: 0.9188 - val_loss: 0.1693 - val_accuracy: 0.9241
Epoch 26/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1759 - accuracy: 0.9188 - val_loss: 0.1708 - val_accuracy: 0.9226
Epoch 27/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1748 - accuracy: 0.9203 - val_loss: 0.1693 - val_accuracy: 0.9241
Epoch 28/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1739 - accuracy: 0.9200 - val_loss: 0.1688 - val_accuracy: 0.9241
Epoch 29/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1729 - accuracy: 0.9200 - val_loss: 0.1700 - val_accuracy: 0.9211
Epoch 30/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1722 - accuracy: 0.9207 - val_loss: 0.1706 - val_accuracy: 0.9211
Epoch 31/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1716 - accuracy: 0.9203 - val_loss: 0.1704 - val_accuracy: 0.9226
Epoch 32/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1707 - accuracy: 0.9203 - val_loss: 0.1708 - val_accuracy: 0.9211
Epoch 33/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1700 - accuracy: 0.9215 - val_loss: 0.1711 - val_accuracy: 0.9196
Epoch 34/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1690 - accuracy: 0.9196 - val_loss: 0.1717 - val_accuracy: 0.9211
Epoch 35/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1685 - accuracy: 0.9200 - val_loss: 0.1729 - val_accuracy: 0.9196
Epoch 36/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1672 - accuracy: 0.9226 - val_loss: 0.1738 - val_accuracy: 0.9165
Epoch 37/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1667 - accuracy: 0.9203 - val_loss: 0.1724 - val_accuracy: 0.9196
Epoch 38/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1656 - accuracy: 0.9230 - val_loss: 0.1736 - val_accuracy: 0.9196
Epoch 39/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1651 - accuracy: 0.9222 - val_loss: 0.1712 - val_accuracy: 0.9211
Epoch 40/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1645 - accuracy: 0.9230 - val_loss: 0.1731 - val_accuracy: 0.9226
Epoch 41/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1632 - accuracy: 0.9264 - val_loss: 0.1738 - val_accuracy: 0.9211
Epoch 42/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1624 - accuracy: 0.9241 - val_loss: 0.1739 - val_accuracy: 0.9226
Epoch 43/50
53/53 [==============================] - 0s 3ms/step - loss: 0.1617 - accuracy: 0.9279 - val_loss: 0.1757 - val_accuracy: 0.9226
Epoch 44/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1616 - accuracy: 0.9264 - val_loss: 0.1747 - val_accuracy: 0.9226
Epoch 45/50
53/53 [==============================] - 0s 2ms/step - loss: 0.1601 - accuracy: 0.9287 - val_loss: 0.1764 - val_accuracy: 0.9196
Epoch 46/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1598 - accuracy: 0.9298 - val_loss: 0.1761 - val_accuracy: 0.9256
Epoch 47/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1585 - accuracy: 0.9272 - val_loss: 0.1764 - val_accuracy: 0.9226
Epoch 48/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1579 - accuracy: 0.9298 - val_loss: 0.1770 - val_accuracy: 0.9256
Epoch 49/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1575 - accuracy: 0.9298 - val_loss: 0.1785 - val_accuracy: 0.9272
Epoch 50/50
53/53 [==============================] - 0s 1ms/step - loss: 0.1566 - accuracy: 0.9317 - val_loss: 0.1785 - val_accuracy: 0.9211

In [14]:
def plot_history(history):
    loss_list = [s for s in history.history.keys() if 'loss' in s and 'val' not in s]
    val_loss_list = [s for s in history.history.keys() if 'loss' in s and 'val' in s]
    acc_list = [s for s in history.history.keys() if 'acc' in s and 'val' not in s]
    val_acc_list = [s for s in history.history.keys() if 'acc' in s and 'val' in s]
    
    if len(loss_list)==0:
        print('Loss is missing in history')
    return loss_list, val_loss_list, acc_list, val_acc_list

In [15]:
loss_list, val_loss_list, acc_list, val_acc_list = plot_history(history)

In [17]:
print(loss_list)

['loss']